.container {
    width:1080px;
	margin-left:auto;
	margin-right:auto;
}

.orodnavrsticabutton {
	margin-top:10px;
	height: 40px;
	width: 25vw;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 18px;
	padding-top: 8px;
	background-color: #A9A9A9;
	border-right: 2px solid #969696;
	border-bottom: 2px solid #969696;
	border-top: 2px solid #e0e0e0;
	border-left: 2px solid #e0e0e0;
	box-sizing:border-box;
	font-family: "serif";
}

.orodnavrsticabutton:hover {
	background-color: #B9B9B9;
}

.bannerbutton {
	background-color: #A9A9A9;
    color: white;
    text-align: center;
    display: inline-block;
	padding: 2px;
	background-color: #A9A9A9;
	border-right: 2px solid #969696;
	border-bottom: 2px solid #969696;
	border-top: 2px solid #e0e0e0;
	border-left: 2px solid #e0e0e0;
	box-sizing:border-box;
}

.bannerbutton:hover {
	background-color: #B9B9B9;
}

.search {
	margin-top:10px;
	height: 40px;
	width: 25vw;
}

.headerbutton {
	float: right;
	margin: 3px;
}

.category {
	height: 40px;
	width: 200px;
}

.category:hover {
	background-color: #B9B9B9;
}

.izdelekbutton {
	height: 40px;
	width: 33vw;
}

.faza {
	border-right: 1px solid black;
	font-size: 20px;
	background-color: #FFFACD;
}

.nextfaza {
	height: 97px;
	width: 467px;
	background-color: #A9A9A9;
    color: white;
    text-align: center;
    display: inline-block;
	font-size: 25px;
	font-family: "serif";
}

.nextfazasubmit {
	height: 97px;
	width: 467px;
	background-color: #A9A9A9;
    color: white;
    text-align: center;
    display: inline-block;
	font-size: 25px;
	border-right: 2px solid #969696;
	border-bottom: 2px solid #969696;
	border-top: 2px solid #e0e0e0;
	border-left: 2px solid #e0e0e0;
	box-sizing:border-box;
	padding-top: 32px;
	font-family: "serif";
	text-decoration: none;
}

.nextfazasubmit:hover {
	background-color: #B9B9B9;
}

input[type="checkbox"]~ div {
	display:none;
}

input[type="checkbox"]:checked ~ div,
#popup:target {
	display:block;
	background:#FFFACD;
	color:black;
	position:absolute;
	border:1px black solid;
	font-size:16px;
	padding: 3px;
	margin-top: 10px;
	
}

genericcontent {
	margin: 3px;
}

fieldset {
	border:none;
	display:flex;
	flex-flow:column;
}

label a {
	text-decoration: none;
	color: white;
	display:block;
	height: 100%;
}

faza a {
	padding-top: 15px;
	text-decoration: none;
	color: white;
	display:block;
	height: 75%;
}

faza a:hover {
	background-color: #B9B9B9;
}

faza label {
	position: relative;
	top: 15px;
}

category ul {
	list-style:none;
	margin:0;
	padding:0;
}

category button {
	background-color: #A9A9A9;
    color: white;
}

vsebina {
	flex-grow:1;
	display:flex;
	flex-flow:row;
	background-color: #F5DEB3;
}

body {
	margin: 0;
	box-sizing:border-box;
	display:flex;
	flex-flow:column;
	min-height:100vh;
	background-color: #FFFACD;
}

header, footer {
    color: white;
    background-color: #8B4513;
	padding-left: 3px;
}

orodnavrstica {
	display:flex;
	flex-flow:row;
	height: 120px;
	background-color: #F5DEB3;
}

main {
	display:flex;
	flex-flow:row;
	flex-wrap: wrap;
	max-width:880px;
	height: 100%;
}

mainizdelek {
	display:flex;
	flex-flow:row;
	flex-wrap: wrap;
	max-width:880px;
	margin-left: 3px;
}

izdelek {
	position: relative;
	display:block;
	float: left;
	width: 250px;
	height: 250px;
	border: 1px solid black;
	margin: 10px;
	padding: 0;
}

izdelek ime {
	position: absolute;
    top: 0;
	left: 0;
	margin-top: 3px;
	margin-left: 3px;
	background: #FFFACD;
	border: 1px solid black;
	font-size: 20px;
}

izdelek album {
	position: absolute;
    top: 0;
	left: 0;
	margin-top: 33px;
	margin-left: 3px;
	background: #FFFACD;
	border: 1px solid black;
	font-size: 20px;
}

izdelek cena {
	position: absolute;
    bottom: 0;
	right: 0;
	margin-right: 3px;
	margin-bottom: 3px;
	display: block;
	background: #FFFACD;
	border: 1px solid black;
	font-size: 20px;
}

slika {
	position: relative;
	display:block;
	float: left;
	width: 400px;
	height: 400px;
	box-sizing:border-box;
	border: 1px solid black;
	padding: 0;
}

img {
	width:100%;
	height:100%;
}

izdelekcontent {
	position: relative;
	display:block;
	float: left;
	width: 400px;
	height: 400px;
	box-sizing:border-box;
	border: 1px solid black;
	padding: 0;
	margin-left: 3px;
}

izdelekcontent content {
	margin-left: 3px;
	margin-top: 3px;
}

izdelekcontent content naslov {
	font-weight: bold;
	font-size: 25px;
}

izdelekcontent cena {
	position: absolute;
    bottom: 0;
	right: 0;
	margin-right: 3px;
	margin-bottom: 49px;
	width: 150px;
	height: 40px;
	text-align: center;
	font-size: 25px;
	box-sizing:border-box;
	padding-top: 5px;
}

izdelekcontent kosarica {
	position: absolute;
    bottom: 0;
	right: 0;
	margin-right: 3px;
	margin-bottom: 3px;
	width: 150px;
	height: 40px;
}

izdelekmenu {
	display:flex;
	flex-flow:row;
}

faze {
	display:flex;
	flex-flow:row;
	width: 880px;
	box-sizing:border-box;
	height: 60px;
    border: 1px solid black;
	background-color: #F5DEB3;
}

faze faza{
	position: relative;
	width: 25vw;
	display: block;
	text-align: center;
}

kosaricacontainer {
	display:flex;
	flex-flow:row;
	margin-bottom: 3px;
}

kosaricacontent {
	display:flex;
	flex-flow:row;
	border: 1px solid black;
	box-sizing:border-box;
	margin-top: 3px;
	margin-right: 3px;
	width: 610px;
}

kosaricacontent pregled {
	margin: 3px;
}

userinfo {
	display:block;
	width: 400px;
	font-size: 20px;
	padding: 10px;
}

userinfo label {
	width: 200px;
	margin: 3px;
}

userinfo input {
	font-size: 20px;
}

kosaricacontent form {
	display:flex;
	flex-flow:column;
}

cenakosarica {
	position: relative;
	margin: 3px;
	display: block;
    border: 1px solid black;
	box-sizing:border-box;
	width: 150px;
	height: 40px;
	text-align: center;
	padding-top: 4px;
	font-size: 25px;
	background-color: #FFFACD;
}
izdelekkosarica {
	position: relative;
	display:block;
	float: left;
	width: 250px;
	height: 250px;
	border: 1px solid black;
	margin: 10px;
	padding: 0;
}

izdelekkosarica ime {
	position: absolute;
    top: 0;
	left: 0;
	margin-top: 3px;
	margin-left: 3px;
	background: #FFFACD;
	border: 1px solid black;
	font-size: 20px;
}

izdelekkosarica album {
	position: absolute;
    top: 0;
	left: 0;
	margin-top: 33px;
	margin-left: 3px;
	background: #FFFACD;
	border: 1px solid black;
	font-size: 20px;
}

izdelekkosarica cena {
	position: absolute;
    bottom: 0;
	right: 0;
	margin-right: 3px;
	margin-bottom: 3px;
	display: block;
	background: #FFFACD;
	border: 1px solid black;
	font-size: 20px;
}

izdelekkosarica odstrani {
	position: absolute;
	border: 1px solid black;
	top: 0;
	right: -70px;
	font-size: 20px;
	background: #FFFACD;
}

kosaricahelp {
	display:flex;
	flex-flow:column;
}

kosaricahelp help {
	position: relative;
	margin: 3px;
	margin-left: 0;
	margin-right: 0;
	width: 467px;
	height: 400px;
	box-sizing:border-box;
	display: block;
    border: 1px solid black;
	overflow: hidden;
	padding: 3px;
}

@media screen
  and (max-width: 550px) {
    orodnavrstica {
		margin-top: 0;
	}
	vsebina {
		flex-flow: column;
	}
	main {
		flex-flow: column;
	}
	.orodnavrsticabutton {
		margin-top:0;
		height: 40px;
		width: 100vw;
	}
	.search {
		margin-top:0;
		height: 40px;
		width: 100vw;
	}
	.category {
		height: 40px;
		width: 100vw;
	}
	orodnavrstica {
		flex-flow:column;
	}
	izdelek {
		width: 90vw;
	}
	.izdelekbutton {
		width: 100vw;
	}
	slika {
		width: 95vw;
	}
	izdelekcontent {
		margin-left: 0;
		width: 95vw;
	}
	izdelekmenu {
		flex-flow:column;
		width: 95vw;
	}
	.container {
		width:100vw;
	}
	faze {
		flex-flow:column;
		height: 160px;
	}
	faze faza {
		width: 100vw;
		height: 40px;
	}
	.faza {
		border-right: 0;
		border-bottom: 1px solid black;
	}
	kosaricacontainer {
		flex-flow:column;
	}
	kosaricacontent {
		width: 100vw;
		flex-flow:column;
	}
	kosaricahelp help {
		width: 100vw;
	}
	.nextfaza {
		width: 100vw;
	}
	.nextfazasubmit {
		width: 100vw;
	}
	izdelekkosarica {
		width: 65vw;
	}
	userinfo {
		width:80vw;
	}
	userinfo label {
		width:80vw;
	}
	input[type="checkbox"]:checked ~ div,
	#popup:target {
		right:0;
	}
}

@media screen
  and (max-width: 800px) and (min-width: 550px) {
    .headerbutton {
		position: absolute;
		top: 0;
		right: 0;
	}
	izdelek {
		width: 60vw;
	}
	main {
		flex-flow: column;
	}
	slika {
		width: 65vw;
	}
	izdelekcontent {
		margin-left: 0;
		width: 65vw;
	}
	izdelekmenu {
		width: 65vw;
	}
	.container {
		width:100vw;
	}
	kosaricacontent {
		width: 57vw;
		margin-right: 0;
	}
	kosaricahelp help {
		width: 43vw;
		border-left:0;
	}
	.nextfaza {
		width: 43vw;
	}
	.nextfazasubmit {
		width: 43vw;
	}
	izdelekkosarica {
		width: 28vw;
	}
	input[type="checkbox"]:checked ~ div,
	#popup:target {
		right:0;
	}
}

@media screen
  and (max-width: 1080px) and (min-width: 800px) {
    .headerbutton {
		position: absolute;
		top: 0;
		right: 0;
	}
	izdelek {
		width: 34vw;
	}
	.container {
		width:100vw;
	}
	slika {
		width: 75vw;
	}
	izdelekcontent {
		margin-left: 0;
		width: 75vw;
	}
	izdelekmenu {
		width: 75vw;
	}
	kosaricacontent {
		width: 57vw;
		margin-right: 0;
	}
	kosaricahelp help {
		width: 43vw;
		border-left:0;
	}
	.nextfaza {
		width: 43vw;
	}
	.nextfazasubmit {
		width: 43vw;
	}
	input[type="checkbox"]:checked ~ div,
	#popup:target {
		right:0;
	}
}