<ul>
	<li><button type="button" class="category">Pop</button></li>
	<li><button type="button" class="category">Rock</button></li>
	<li><button type="button" class="category">Metal</button></li>
	<li><button type="button" class="category">Electronic</button></li>
	<li><button type="button" class="category">Hip hop</button></li>
	<li><button type="button" class="category">Blues</button></li>
	<li><button type="button" class="category">Jazz</button></li>
	<li><button type="button" class="category">Classical</button></li>
</ul>