<!DOCTYPE html>

<html>
	<head>
		<% include head %>
	</head>
	
	<body>
		<header class="container">
			<% include header %>
		</header>
		
		<orodnavrstica class="container">
			<% include orodna_vrstica %>
		</orodnavrstica>
		
		<vsebina class="container">
			<genericcontent>
				<h2>Kontakt</h2>
				<b>Sedež podjetja:</b><br>
				MusicMarket d.o.o.<br>
				Zaloška cesta 13<br>
				1000 Ljubljana<br>
				<br>
				<b>DDV ID številka:</b> SI12345678<br>
				<b>Zavezanec za DDV:</b> DA<br>
				<b>Matična številka:</b> 1234123456<br>
				<b>Osnovni kapital:</b> 1107.00 EUR<br>
				<b>TRR:</b> SI56 1234 5678 1256 1234<br>
				<br>
				<b>E-pošta:</b> info@musicmarket<br>
				<b>Telefon:</b> 031 123 456
			</genericcontent>
		</vsebina>
		<footer class="container">
			by Gregor Bajt
		</footer>
	</body>
</html>