<!DOCTYPE html>

<html>
	<head>
		<% include head %>
	</head>
	
	<body>
		<header class="container">
			<% include header %>
		</header>
		
		<orodnavrstica class="container">
			<% include orodna_vrstica %>
		</orodnavrstica>
		
		<faze class="container">
			<faza class="faza" style="background-color: #A9A9A9; color:white;">
				<a href="kosarica_page1.html">pregled košarice</a>
			</faza>
			<faza class="faza" style="background-color: #DEB887;font-style: italic;">
				<label>
					podatki plačnika
				</label>
			</faza>
			<faza class="faza">
				<label>
					način plačila in dostava
				</label>
			</faza>
			<faza class="faza" style="border-right: 0; border-bottom: 0;">
				<label>
					pregled naročila
				</label>
			</faza>
		</faze>
		
		<vsebina class="container">
			
			<kosaricacontainer>
				<kosaricacontent>
					<userinfo>
						<form method="POST" action="kosarica_page3.html">
							<label>Ime: <br><input type="text" name="ime" placeholder="Ime" required /></label>
							<label>Priimek: <br><input type="text" name="priimek" placeholder="Priimek" required /></label>
							<label>Ulica in hišna številka: <br><input type="text" name="ulica" placeholder="Ulica 12" pattern=".* .*" title="'ulica' 'hišna številka'" required /></label>
							<label>Mesto: <br><input type="text" name="mesto" placeholder="Mesto" required /></label>
							<label>Poštna številka: <br><input type="text" name="postnastevilka" placeholder="1234" required /></label>
							<label>Telefon: <br><input type="text" name="telefon" placeholder="031 123 456" required /></label>
							<label>Email: <br><input type="email" name="email" placeholder="username@email.com" required /></label>
							<input type="submit" id="submit-form" style="display:none;" />
						</form>
					</userinfo>
				</kosaricacontent>
				<kosaricahelp>
					<help>
						<p>
							Prosimo, vnesite zahtevane osebne podatke.
						</p>
					</help>
					<nextfaza>
						<label for="submit-form" class="nextfazasubmit">na naslednjo fazo</label>
					</nextfaza>
				</kosaricahelp>
			</kosaricacontainer>

		</vsebina>
		<footer class="container">
			by Gregor Bajt
		</footer>
	</body>
</html>