<!DOCTYPE html>

<html>
	<head>
		<% include head %>
	</head>
	
	<body>
		<header class="container">
			<% include header %>
		</header>
		
		<orodnavrstica class="container">
			<% include orodna_vrstica %>
		</orodnavrstica>
		
		<vsebina class="container">
			<genericcontent>
				<h2>O nas</h2>
				Sem študent Fakultete za računalništvo in informatiko.<br>
				Spletna aplikacija Music Market je izdelana za predmet Spletno programiranje.<br>
				Gre za spletno stran, kjer uporabniki lahko iščejo ter nakupujejo glasbene albume.<br>
			</genericcontent>
		</vsebina>
		<footer class="container">
			by Gregor Bajt
		</footer>
	</body>
</html>