<label class="orodnavrsticabutton">
	<a href="kontakt.html">kontakt</a>
</label>
<label class="orodnavrsticabutton">
	<a href="o_nas.html">o nas</a>
</label>
<label class="orodnavrsticabutton">
	<a href="pogoji_poslovanja.html">pogoji poslovanja</a>
</label>
<input type="search" name="search" class="search" placeholder="iščite tukaj..">