<!DOCTYPE html>

<html>
	<head>
		<% include head %>
	</head>
	
	<body>
		<header class="container">
			<% include header %>
		</header>
		
		<orodnavrstica class="container">
			<% include orodna_vrstica %>
		</orodnavrstica>
		
		<vsebina class="container">
			<genericcontent>
				<h2>Pogoji poslovanja</h2>
				<ul>
					<li>Music Market uporablja osebne podatke izključno za potrebe izpolnitve naročila.</li>
					<li>Vse cene vsebujejo DDV.</li>
					<li>V primeru stvarne napake je možna povrnitev denarja.<br>
					Kupec ima 1 teden časa (štet od trenutka prevzema blaga), da nam na elektronski naslov pošlje prošnjo za povrnitev denarja.</li>
				</ul>
			</genericcontent>
		</vsebina>
		<footer class="container">
			by Gregor Bajt
		</footer>
	</body>
</html>